<div>
    <h2 data-translate="masterfaceproApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="masterfaceproApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="masterfaceproApp.location.name">Name</span></th>
                    <th><span data-translate="masterfaceproApp.location.type">Type</span></th>
                    <th><span data-translate="masterfaceproApp.location.floor">Floor</span></th>
                    <th><span data-translate="masterfaceproApp.location.whiteList">White List</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.name}}</td>
                    <td data-translate="{{'masterfaceproApp.LocationType.' + location.type}}">{{location.type}}</td>
                    <td>
                        <a ui-sref="floor-detail({id:location.floor.id})">{{location.floor.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="whiteList in location.whiteLists">
                            <a class="form-control-static" ui-sref="staff-type-detail({id: whiteList.id})">{{whiteList.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
