<div>
    <h2 data-translate="masterfaceproApp.record.home.title">Records</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="record.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="masterfaceproApp.record.home.createLabel">
                        Create new Record
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="masterfaceproApp.record.insert">Insert</span></th>
                    <th><span data-translate="masterfaceproApp.record.path">Path</span></th>
                    <th><span data-translate="masterfaceproApp.record.fileSentDate">File Sent Date</span></th>
                    <th><span data-translate="masterfaceproApp.record.fileCreationDate">File Creation Date</span></th>
                    <th><span data-translate="masterfaceproApp.record.processStartDate">Process Start Date</span></th>
                    <th><span data-translate="masterfaceproApp.record.processFinishDate">Process Finish Date</span></th>
                    <th><span data-translate="masterfaceproApp.record.status">Status</span></th>
                    <th><span data-translate="masterfaceproApp.record.afid">Afid</span></th>
                    <th><span data-translate="masterfaceproApp.record.isProcessed">Is Processed</span></th>
                    <th><span data-translate="masterfaceproApp.record.device">Device</span></th>
                    <th><span data-translate="masterfaceproApp.record.image">Image</span></th>
                    <th><span data-translate="masterfaceproApp.record.person">Person</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in vm.records track by record.id">
                    <td><a ui-sref="record-detail({id:record.id})">{{record.id}}</a></td>
                    <td>{{record.insert | date:'medium'}}</td>
                    <td>{{record.path}}</td>
                    <td>{{record.fileSentDate | date:'medium'}}</td>
                    <td>{{record.fileCreationDate | date:'medium'}}</td>
                    <td>{{record.processStartDate | date:'medium'}}</td>
                    <td>{{record.processFinishDate | date:'medium'}}</td>
                    <td data-translate="{{'masterfaceproApp.RecordStatus.' + record.status}}">{{record.status}}</td>
                    <td>
                        <a ng-if="record.afid" ng-click="vm.openFile(record.afidContentType, record.afid)" data-translate="entity.action.open">open</a>
                        <span ng-if="record.afid">{{record.afidContentType}}, {{vm.byteSize(record.afid)}}</span>
                    </td>
                    <td>{{record.isProcessed}}</td>
                    <td>
                        <a ui-sref="device-detail({id:record.device.id})">{{record.device.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="image-detail({id:record.image.id})">{{record.image.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="person-detail({id:record.person.id})">{{record.person.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="record-detail({id:record.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="record.edit({id:record.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="record.delete({id:record.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
